.container {
  width: 100%;
  height: 100%;
  background-color: #202020;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .main {
    overflow-x: hidden;
    margin: 5rem 0rem;

    .text-area {
      width: 80%;
      margin: 0 auto;
      height: 20rem;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {

        h1,
        h2 {
          color: white;
          font-size: 2rem;
        }
        p {
          background-color: whitesmoke;
          font-size: 1rem;
          padding: 0.7rem;
          border-radius: 30px;
          margin-top: 0.5rem;
        }
        .hide {
          opacity: 0;
          transform: translateX(-1rem);
          transition: 0.3s ease-out;
        }
        .show {
          transition: 0.3s ease-out;
          transform: translateX(0rem);
          opacity: 100%;
        }

        .hideType {
          opacity: 0;
          transition: 0.3s ease-out;
          transform: translateX(-1rem);
        }
        .showType {
          background-color: white;
          border-radius: 30px;
          transition: 0.3s ease-out;
          opacity: 100%;
          transform: translateX(0);
          position: relative;
          bottom: 6.5rem;
          overflow: hidden;
          font-size: 1rem;
          display: flex;
          align-items: center;
          padding: 1rem;
        }

        .developer {
          display: flex;
          background-color: mediumseagreen;
          padding: 0.7rem 4rem;
          color: #000000;
          border-radius: 30px;
          font-size: 1.6rem;
          justify-content: space-between;
          #iconDown {
            transition: 0.1s ease-out;
            font-size: 2rem;
            cursor: pointer;
            &:hover {
              background-color: wheat;
              border-radius: 5px;
            }
          }
          #iconUp {
            transition: 0.1s ease-out;
            font-size: 2rem;
            cursor: pointer;
            &:hover {
              background-color: wheat;
              border-radius: 5px;
            }
          }
        }

        .hello {
          display: flex;
          align-items: center;
          margin-left: 1rem;
        }


      }
    }

    .swipper-for-skills {
      margin-top: 10rem !important;
      width: 18%;
      margin: 0 auto;
      height: 20rem;
      z-index: 1;
      position: relative;
    }
    .swipper {
      height: 10rem;
      width: 100%;

      p {
        display: none;
      }
      button {
        display: none;
      }
      ul {
        display: none;
      }
    }

    .projectsmain{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      //is close button
      .uiverse2 {
        top: 20rem;
        position: relative;
        background: #ffffff;
        color: #000;
        padding: 15px;
        margin: 10px;
        border-radius: 10px;
        width: 150px;
        height: 50px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .tooltip {
        position: absolute;
        top: 0;
        font-size: 16px;
        background: #ffffff;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background: #ffffff;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      
      .uiverse2:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
      
      svg:hover span,
      svg:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
      }
      
      .uiverse2:hover,
      .uiverse2:hover .tooltip,
      .uiverse2:hover .tooltip::before {
        background: linear-gradient(320deg, rgb(128, 82, 255), rgb(0, 60, 255));
        color: #ffffff;
      }
    //is close button
    }

      .projects {
        @keyframes entered {
          0%{opacity: 0; transform: scale(1.3);}
          100%{opacity: 100%; transform: scale(1);}
        }
        animation: entered 0.4s ease-out forwards normal;
        margin-top: 7rem;
        width: 100%;
        height: 145rem;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .uiverse {
          position: relative;
          background: #ffffff;
          color: #000;
          padding: 15px;
          margin: 10px;
          border-radius: 10px;
          width: 150px;
          height: 50px;
          font-size: 17px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .tooltip {
          position: absolute;
          top: 0;
          font-size: 16px;
          background: #ffffff;
          color: #ffffff;
          padding: 5px 8px;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .tooltip::before {
          position: absolute;
          content: "";
          height: 8px;
          width: 8px;
          background: #ffffff;
          bottom: -3px;
          left: 50%;
          transform: translate(-50%) rotate(45deg);
          transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .uiverse:hover .tooltip {
          top: -45px;
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        
        svg:hover span,
        svg:hover .tooltip {
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
        }
        
        .uiverse:hover,
        .uiverse:hover .tooltip,
        .uiverse:hover .tooltip::before {
          background: linear-gradient(320deg, rgb(128, 82, 255), rgb(0, 60, 255));
          color: #ffffff;
        }




      .modal {
        h2 {
          position: absolute;
          left: 20.7%;
          top: 16%;
          background-color: mediumslateblue;
          color: white;
          padding: 0.5rem 16rem;
        }
        z-index: 1000;
        .thumbs-wrapper {
          display: none;
        }
        width: 100%;
        height: 100%;
        position: fixed;
        inset: 0;
        img {
          width: 60%;
          margin-top: 10rem;
        }
        background-color: #3636369f;
      }
      .box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        background-color: #3333331c;
        height: 20rem ;
        width: 65%;
        margin: 4rem 0rem;
        border-radius: 30px;
        letter-spacing: -1px;
      }
      .ebay-project,
      .sakitlik-project,
      .instagram-project,
      .math-project,
      .goko-project,
      .ecommerce-project {
        .photo {
          margin-top: 2rem;
          width: 50%;
          .carousel {
            border-radius: 20px;
            .image:hover {
              opacity: 50%;
            }

            .image {
              position: relative;
              transition: 0.1s all;
              #biggericon {
                font-size: 5rem;
                color: mediumslateblue;
                position: absolute;
                left: 40%;
                top: 30%;
                cursor: pointer;
              }
            }
          }
        }

        .about {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .icons {
            cursor: alias;
            transition: 0.2s ease-out;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #cecece;
            font-size: 6rem;
            margin-top: 2.5rem;
            .span {
              position: relative;
              bottom: 0;
              font-size: 1.1rem;
              color: #c5c5c5;
              text-decoration: none;
              cursor: pointer;
              transition: 0.3s all;
              &:hover {
                transform: scale(1.5);
                padding-bottom: 5rem;
                filter: blur(22px) brightness(150%);
                color: mediumaquamarine;
              }
            }
          }

          .text {
            display: flex;
            justify-content: center;
            align-items: center;
            h3 {
              color: whitesmoke;
              font-weight: 500;
            }
          }
        }
      }

      .goko-project {
        flex-direction: row-reverse !important;
      }
      .instagram-project {
        flex-direction: row-reverse !important;
      }
      .sakitlik-project {
        flex-direction: row-reverse !important;
      }
    }

    .my-about {
      margin-top: 35rem !important;
      width: 85%;
      margin: 0 auto;
      height: 100%;
      background-color: #30303018;
      display: flex;
      flex-direction: column;

      #aboutTitle {
        color: whitesmoke;
        letter-spacing: 5px;
        margin-top: 1rem;
        font-size: 1.7rem;
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;
      }
      .about {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 100%;
        .my-photos {
          .about-carousel {
            .thumbs-wrapper {
              opacity: 50%;
            }
            button {
              background-color: mediumslateblue;
            }
            p {
              display: none;
            }
            width: 90%;
            height: 100%;
            img {
              width: 100%;
              border-radius: 20px;
            }
          }
        }

        .header-about {
          margin-bottom: 7.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .cv-form {
            display: flex;
            align-items: center;
            .button {
              --main-focus: #2d8cf0;
              --font-color: #323232;
              --bg-color-sub: #dedede;
              --bg-color: #eee;
              --main-color: #323232;
              position: relative;
              width: 150px;
              text-transform: uppercase;
              height: 40px;
              cursor: pointer;
              display: flex;
              align-items: center;
              border: 2px solid var(--main-color);
              box-shadow: 4px 4px var(--main-color);
              background-color: var(--bg-color);
              border-radius: 10px;
              overflow: hidden;
            }

            .button,
            .button__icon,
            .button__text {
              transition: all 0.3s;
            }

            .button .button__text {
              transform: translateX(22px);
              color: var(--font-color);
              font-weight: 600;
            }

            .button .button__icon {
              position: absolute;
              transform: translateX(109px);
              height: 100%;
              width: 39px;
              background-color: var(--bg-color-sub);
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .button .svg {
              width: 20px;
              fill: var(--main-color);
            }

            .button:hover {
              background: var(--bg-color);
            }

            .button:hover .button__text {
              color: transparent;
            }

            .button:hover .button__icon {
              width: 148px;
              transform: translateX(0);
            }

            .button:active {
              transform: translate(3px, 3px);
              box-shadow: 0px 0px var(--main-color);
            }
          }
          .top-about {
            background-color: #525252;
            border-radius: 20px;
            height: 100px;
            width: 85%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .left {
              border-right: 3px solid #c5c5c5;
              padding-right: 1.5rem;
              height: 100%;
              align-items: center;
              display: flex;
              justify-content: center;
              flex-direction: column;
              .my-name {
                display: flex;
                align-items: center;
              }
              .my-date-birth {
                display: flex;
                align-items: center;
                padding-left: 0.2rem;
              }
              h1 {
                color: white;
                letter-spacing: -0.5px;
                border-bottom: 1px solid #525252;
              }
              strong {
                color: wheat;
              }
            }

            .right {
              flex-direction: column;
              display: flex;
              align-items: center;
              .email {
                column-gap: 11px;
                display: flex;
                align-items: center;
                #email {
                  color: wheat;
                }
              }
              h3 {
                font-size: 1.4rem;
                color: white;
              }
              strong {
                color: wheat;
                font-size: 1.4rem;
                padding-left: 0.5rem;
              }
              .telephone {
                column-gap: 11px;
                display: flex;
                align-items: center;
                #wp {
                  color: rgb(225, 250, 239);
                }
              }
            }
          }

          .me-about-paragraph {
            color: whitesmoke;
            font-weight: 400;
            padding: 2rem;
          }
        }
      }
    }

    .contact-me {
      width: 100%;
      height: 20rem;
      background-color: transparent;
      margin: 10rem 0rem;
      .icons-contact {
        width: 80%;
        margin: 0 auto;
        height: 100%;
        background-color: transparent;
        display: flex;
        .icons {
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 3%;
          font-size: 4.5rem;
          transition: 0.2s ease-out;
          &:hover {
            transform: scale(1.3);
          }
        }
        #instagram {
          color: rgb(224, 84, 59);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #facebook {
          color: rgb(58, 104, 255);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #github {
          color: rgb(190, 190, 190);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #codepen {
          color: rgb(170, 170, 170);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #whatsapp {
          color: rgb(33, 185, 101);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #gmail {
          color: rgb(240, 137, 40);
          cursor: pointer;
          transition: 0.1s ease-out;
        }
        #instagram:hover {
          transform: scale(1.5);
        }
        #facebook:hover {
          transform: scale(1.5);
        }
        #github:hover {
          transform: scale(1.5);
        }
        #codepen:hover {
          transform: scale(1.5);
        }
        #whatsapp:hover {
          transform: scale(1.5);
        }
        #gmail:hover {
          transform: scale(1.5);
        }
      }
    }


  }

}
